{% extends "base.html" %}
{% block content %}

<main>
  <header class="create-recipe-header">
    <h1>Add a new recipe!</h1>
    <div>
      <a href="/recipes">Back to recipe</a>
      <a href="/logout">log out</a>
    </div>
  </header>
  <section>
    <form action="/create_recipe" method="post" style="width: 50%;">
      {% with messages = get_flashed_messages(category_filter=['create']) %}
      {% if messages %}
      {% for message in messages %}
      {{message}}
      {%endfor%}
      {%endif%}
      {%endwith%}
      <input hidden type="text" name="user_id" value="{{session['user_id']}}">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label>Instruction</label>
        <textarea class="form-control" name="instruction" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label>Date cooked/Made</label>
        <input class="form-control" type="date" name="date"></input>
      </div>

      <label for="">Under 30 min?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="under_30" value="Yes" checked>
        <label class="form-check-label">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="under_30" value="No">
        <label class="form-check-label">
          No
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </section>
</main>



{% endblock %}