{% extends "base.html" %}
{% block content %}

<main class="main-recipes">
  <div class="header-recipes">
    <h1>Welcome {{user.first_name}}</h1>
  </div>

  <div class="create-logout">
    <div>
      <h6>All posted recipes:</h6>
    </div>
    <div>
      <a href="/recipes/new">+ Create</a>
      <a href="/logout">logout</a>
    </div>
  </div>


  <div class="table-recipes">
    <table class="table table-striped">
      <thead>
        <td>Name</td>
        <td>Under</td>
        <td>Posted By</td>
        <td>Actions</td>
      </thead>
      <tbody>
        {% for recipe in recipes%}
        <tr>
          <td>{{recipe.name}}</td>
          <td>{{recipe.under_30}}</td>
          <td>{{recipe.creator.first_name}}</td>
          {% if recipe.creator.first_name == user.first_name%}
          <td>
            <a href="/recipe/{{recipe.id}}">View</a> |
            <a href="/recipes/edit/{{recipe.id}}">Edit</a> |
            <a href="/delete/{{recipe.id}}">Delete</a>
          </td>
          {%else %}
          <td>
            <a href="/recipe/{{recipe.id}}">View</a>
          </td>
          {%endif%}
        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</main>



{% endblock %}