/* Index Page */
.main-index {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 30px;
}
.register-form,
.login-form {
  width: 350px;
}

.register-form div {
  display: flex;
  flex-direction: column;
}

.login-form div {
  display: flex;
  flex-direction: column;
}

/* Recipe Page */
.main-recipes {
  display: flex;
  flex-direction: column;
}
.create-logout,
.table-recipes,
.header-recipes {
  display: flex;
  justify-content: space-around;
}

/* Create Recipe Pagee */
.create-recipe-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.one_recipe_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.one_recipe_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.one_recipe_section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.one_recipe_description {
  border: 1px solid gray;
  width: 60%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
